body {
  margin: 0;
}

#top-bar-container {
  font-family: Heiti SC;
  font-weight: 100;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#homey-logo {
  width: 10%;
  font-weight: 100;
}

#sign-in-nav {
  float: right;
  display: flex;
  margin-top: 10px;
}

#sign-in-info span {
  border: 1.5px #064b76 solid;
  margin-left: 5px;
  margin-right: 8px;
}

#sign-in-info a {
  font-weight: bolder;
  font-size: 15px;
  color: black;
  text-decoration: none;
}

#sign-in-info a:hover {
  font-size: 22px;
  color: #064b76;
}

#sign-in-nav-search {
  margin-top: -2px;
  margin-left: 15px;
}

#sign-in-nav-search img {
  width: 55%;
}

#nav {
  margin: 20px 100px 40px;
}

#nav h1,
#main-nav button {
  font-family: Heiti SC;
  font-weight: 100;
}

#nav h1 {
  letter-spacing: 0.05em;
}

#nav button {
  text-decoration: none;
  background-color: #064b76;
  color: white;
  margin: -5px;
  width: 200px;
  height: 40px;
  font-size: 18px;
  padding: 10px;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
}

#nav button:hover {
  cursor: pointer;
  background-color: #d8651d;
  border: none;
}

.down-arrow {
  width: 8%;
  margin: 1px;
}

#search {
  background-color: black !important;
  margin-left: 25px !important;
}

#hero-img img {
  width: 100%;
}

#website-info {
  margin: 100px 85px;
}

#website-info h1 {
  font-family: Heiti SC;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  margin-top: -30px;
}

#website-info h2 {
  font-weight: bolder;
}

#website-info-container {
  font-family: Heiti SC;
  display: flex;
  text-align: center;
  margin-top: 40px;
}

#website-info-container img {
  width: 40%;
}

#website-info-container p {
  width: 45%;
  margin-left: 25%;
}

#reviews img {
  width: 65%;
}

#website-info button {
  background-color: #064b76;
  color: white;
  margin: -5px;
  width: 150px;
  height: 40px;
  font-size: 18px;
  padding: 10px;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
}

#website-info button:hover {
  cursor: pointer;
  background-color: #e5e5e5;
  border: none;
  color: black;
}

#listings {
  font-family: Heiti SC;
  text-align: center;
  background-color: #064b76;
  padding-bottom: 50px;
}

#listings-container {
}

#listings h1 {
  color: white;
  padding: 50px;
  font-size: 30px;
  font-weight: 100;
}

#property-images {
  display: flex;
  justify-content: center;
}

/* #property-images img {
  width: 25%;
} */

#main-house {
  width: 50%;
}

#left-house {
  width: 20%;
}

#right-house {
  width: 20%;
}

#property-description {
  display: flex;
}

#info-container {
  width: 35%;
  margin: 0 auto;
  background-color: white;
  border: 1px black solid;
  border: 2px solid black;
  margin-top: 10px;
  height: 30%;
  padding-bottom: 15px;
}

#info-container h2 {
  font-size: 25px;
  font-weight: bold;
}

#info-container p {
  font-size: 20px;
  letter-spacing: 0.1 em;
  margin-top: -5px;
}

#info-container button {
  background-color: #064b76;
  color: white;
  margin: -5px;
  width: 200px;
  font-size: 18px;
  padding: 10px;
}

#info-container button:hover {
  cursor: pointer;
  background-color: #d8651d;
}

#left-btn {
  background-color: #064b76;
  border: none;
}

#left-btn:hover {
  cursor: pointer;
}

#home-search {
  font-family: Heiti SC;
  text-align: center;
}

/* color: #064b76 !important; */
